<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Bem vindo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <h1>Seja bem vindo ao seu aplicativo de lista de mercado</h1>
  <h2>Realize a organização dos seus itens de supermercado</h2>

  <ion-text color="dark">
    <h5>Se você já esqueceu de comprar itens essenciais
      durante sua ida ao supermercado, <strong>seus problemas acabaram!</strong> <br>
    </h5>
  </ion-text>

  <ion-button expand="block" routerLink="/login">Começar</ion-button>


</ion-content>