<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
          Bem vindo(a)!! <br> Faça login ou cadastre-se
      </ion-title>
  </ion-toolbar>
</ion-header>

<!-- appdelistademercado Callof12!-->

<ion-content color="primary" [fullscreen]="true">
  <div class="dados-cadastro">
      <ion-card>
       
          <ion-item lines="none">
              <ion-label position="stacked" type="user">E-mail</ion-label>
              <ion-input placeholder="Insira seu email" [(ngModel)]="userLogin.email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked" type="password">Senha</ion-label>
              <ion-input placeholder="Digite a senha" [(ngModel)]="userLogin.password"></ion-input>
          </ion-item>
      </ion-card>
      <ion-card>
          <ion-button expand="block" routerLink="/home" (click)="login()">Logar</ion-button>
     
          <ion-button expand="block" routerLink="/signtarure">Criar Conta</ion-button>
      </ion-card>
  </div>
</ion-content>
