<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Bem vindo
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-text color="dark">
   <p>Seja bem vindo ao seu aplicativo de lista de mercado <br>
 
      Crie uma relação de itens e não esqueça de nada<br>
      Se você já esqueceu de comprar itens essenciais <br>
      Não deixe de comprar, utilize nosso aplicativo e compre tudo </p>
  </ion-text>

  <ion-button expand="block" routerLink="/login">Começar</ion-button>
</ion-content>